<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>studentSignup</servlet-name>
        <servlet-class>studentSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fpass</servlet-name>
        <servlet-class>fpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newpassServlet</servlet-name>
        <servlet-class>newpassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aLogin</servlet-name>
        <servlet-class>aLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePrice</servlet-name>
        <servlet-class>updatePrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddmenuServlet</servlet-name>
        <servlet-class>AddmenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatemenuServlet</servlet-name>
        <servlet-class>updatemenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchServlet</servlet-name>
        <servlet-class>fetchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBill</servlet-name>
        <servlet-class>updateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddmenuSer</servlet-name>
        <servlet-class>AddmenuSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatemenu</servlet-name>
        <servlet-class>Updatemenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fetch</servlet-name>
        <servlet-class>Fetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateservlet</servlet-name>
        <servlet-class>updateservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbill</servlet-name>
        <servlet-class>addbill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentSignup</servlet-name>
        <url-pattern>/studentSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fpass</servlet-name>
        <url-pattern>/fpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpassServlet</servlet-name>
        <url-pattern>/newpassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aLogin</servlet-name>
        <url-pattern>/aLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePrice</servlet-name>
        <url-pattern>/updatePrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddmenuServlet</servlet-name>
        <url-pattern>/AddmenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatemenuServlet</servlet-name>
        <url-pattern>/updatemenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchServlet</servlet-name>
        <url-pattern>/fetchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBill</servlet-name>
        <url-pattern>/updateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddmenuSer</servlet-name>
        <url-pattern>/AddmenuSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatemenu</servlet-name>
        <url-pattern>/Updatemenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetch</servlet-name>
        <url-pattern>/Fetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateservlet</servlet-name>
        <url-pattern>/updateservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbill</servlet-name>
        <url-pattern>/addbill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
